.inline-block {
    display: inline-block;
}

.flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    justify-content: space-around;
}

.no-margin {
    margin: 0;
}
.no-margin-l {
    margin-left: 0;
}
.no-margin-r {
    margin-right: 0;
}
.no-margin-b {
    margin-bottom: 0;
}
.no-margin-t {
    margin-top: 0;
}
