/* screen-width < 992px */

/* Typography */
html {
    font-size: 10px;

    font-family: sans-serif;
}

body {
    font-size: 1.75rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 10px;

    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;

    font-weight: normal;
}

h2 {
    font-size: 2.5rem;

    font-weight: normal;
}

h3 {
    font-size: 2rem;

    font-weight: normal;
}

h4 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.25rem;
}

p {
    margin-top: 0;
    font-family: 'Arvo', serif;
}

/* Common styling */
ul {
    font-size: 1.5rem;
    /* Bullet point is equal to font size */
    padding-left: 1.5rem;

    margin-bottom: 1rem;

    font-family: 'Arvo', serif;
}

.bold {
    font-weight: bold;
}

a {
    color: #0078D7;
}

/* site specific */
body {
    margin: 0;

    background-color: #FAFAFA;
}

#github-link {
    position: absolute;
    right: 2rem;
    top: 50%;
}

#github-icon {
    height: 3rem;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.wrapper {
    width: 100%;
    margin: auto;
}

header {
    width: 100%;

    background-color: #F0F0F0;
}

#header-image {
  height: 150px;

  background-image: url("img/bg1.jpg");

  -webkit-background-size: cover;
  background-size: cover;

  background-position: center;

  overflow: hidden;
}

#header-logo {
    position: relative;

      text-align: center;

      padding: 10px;

      border-bottom: 5px solid #D0D0D0;
      border-top: 5px solid #D0D0D0;
}

header h1, header h5 {
    margin-top: 0;
    margin-bottom: 0;
}
menu {
    padding: 0;
    margin: 10px 0 0 0;
}

menu ul {
    list-style: none;
    padding: 0;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    justify-content: space-between;
}

menu a {
    color: #529ECC;
    text-decoration: none;
}

.content {
    padding: 10px;
}

.flex {
    flex-wrap: wrap;
}

.card {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;

    flex-grow: 1;
    flex-basis: 100%;

    margin-bottom: 10px;

    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    position: relative;
}


.card-content {
    background-color: rgba(0, 0, 0, 0.75);

    overflow: hidden;

    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.card-header {
    line-height: 40px;
    margin: 0;
    text-align: center;
}

.card-header a {
    color: #FFF;
}

.card-desc {
    color: #FFF;
    padding: 10px;
}

.rehnamusiken {
    background-image: url('../img/rehnamusiken.png');
}

.portfoliovaja {
    background-image: url('../img/portfoliovaja.png');
}

.peetiskingdom {
    background-image: url('../img/peetiskingdom.png');
}
