/* screen-width >= 992px */

html {
    font-size: 12px;
}

.wrapper {
    width: 970px;
}

#header-image {
  height: 250px;
}

menu ul {
    justify-content: center;
}

menu li {
    margin: 0 20px 0 20px;
}

.flex {
    flex-wrap: nowrap;
}

.accordion {
    width: 100%;
}

.card {
    flex-basis: 0;
    height: 290px;
}

.card:hover {
    flex-grow: 3;
}
.card:hover .card-content {
    top: 0;
}

.card-content {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    top: calc(100% - 40px);
}
