[submodule "PeetisKingdom"]
	path = PeetisKingdom
	url = https://github.com/witchcrafterz/PeetisKingdom.git
[submodule "rehnamusiken"]
	path = rehnamusiken
	url = https://github.com/rehnarama/rehnamusiken.git
[submodule "michaelrehn"]
	path = michaelrehn
	url = https://github.com/rehnarama/michaelrehn.git
