[submodule "rehnamusiken"]
	path = rehnamusiken_old
	url = https://github.com/rehnarama/rehnamusiken.git
[submodule "michaelrehn"]
	path = michaelrehn
	url = https://github.com/rehnarama/michaelrehn.git
